.statisticsBlock_container {
    margin: 56px 50px 0 50px;
    background: #FEFEFE;
}

.statisticsBlock_title{
    font: 700 24px/30px "Mulish", sans-serif;
    color: #665CD1;
    margin-bottom: 20px;
}

.statisticsBlock_text{
    width: 435px;
    height: 48px;
    font: 700 19px/24px "Mulish", sans-serif;
    color: #171717;
    margin-bottom: 10px;
}

.statisticsBlock_content{
    width: 538.67px;
    height: 28px;
    font: 500 11px/14px "Mulish", sans-serif;
    color: #7E7E7E;
    margin-bottom: 20px;
    
}
