@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    // width: 100%;
    box-sizing: border-box;
}

.wrap-a11{
    max-width: 1280px;
    margin: 0 auto;   
}
.container-a11{
    margin: 0 50px;   
}



.web-link:hover,
.input-moow_link-web:hover,
.web-block:hover,
.topBlock_button-link:hover,
.mapBlock-link:hover,
.lastQuestions_button-link:hover,
.downloadApplication_button-link:hover,
.footer-link:hover,
.input-moow_google-img:hover,
.input-moow_appStore-img:hover {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}


