.wrapper-BusinessCenterBlock {
    background-image: url("./BusinessCenterBlock_img/background_businessCenterBlock_img.png");

}

.title-BusinessCenterBlock{
    width: 559px;
}

.text-BusinessCenterBlock{
    width: 559px;
}

.BusinessCenterBlock_web-block{
    padding-top: 65px;
}
