.wrapper-TopBlock{
    background-image: url("./topBlock_img/background_topBlock.png");
    height: 768px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.container-parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 50px;
}

.topBlock-text {
    width: 509px;
    height: 80px;
    font: 700 32px/40px "Mulish", sans-serif;
    color: #EBEBEB;
    margin-top: 229px;
}

.topBlock-title{
    width: 509px;
    height: 60px;
    font: 500 24px/30px "Mulish", sans-serif;
    color: #EBEBEB;
}

.topBlock_web-block{
    margin: 115px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.web-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    width: 233px;
    height: 40px;
    background: #665CD1;
    box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
    border-radius: 31px;
    margin-right: 15px;
}

.topBlock_button-link{
    font: 500 16px/20px "Mulish", sans-serif;
    color: #F1F0FF;
    text-decoration: none;
}

.link-web{
    width: 178px;
    height: 20px;
}

.web-img{
    width: 10px;
    height: 15px;
}

.link-fone{
    background: #171717;
    box-shadow: 0px 4px 10px rgba(110, 98, 228, 0.26);
    border-radius: 45px;
    padding: 10px 15px;
}




